.visit {
    color: blue;
    font-weight: bolder;
}

.folder {
    color: darkblue;
    background-color: antiquewhite;
    font-style: italic;
    border: 1px solid darkred;
    padding: 3px;
}

h1 {
    width: 100%;
    height: 50px;
    background: #ff533d;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}

#nav-bar {
    margin: 0;
    overflow: hidden;
}

#nav-bar li {
    display: block;
    width: 150px;
    float: left;
}

#nav-bar b {
    background-color: #f5f5f5;
    display: block;
    padding: 15px;
    color: #0f1626;
    text-align: center;
    cursor: default;
}

#nav-bar b:hover {
    background-color: #0f1626;
    color: #f5f5f5;
    cursor: pointer;
}

#nav-buttons {
    padding-top: 10px;
    padding-left: 39px;
}

#nav-buttons button {
    padding: 8px 15px;
}

#nav-buttons button:hover {
    background-color: #0f1626;
    color: #f5f5f5;
    cursor: pointer;
}

*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background: #ab987a;
}

@media screen and (max-width: 1024px){
    .cards_wrap .card_item{
        width: 33%;
    }
}

@media screen and (max-width: 768px){
    .cards_wrap .card_item{
        width: 50%;
    }
    .wrapper .header{
        font-size: 16px;
        height: 60px;
    }
}

@media screen and (max-width: 568px){
    .cards_wrap .card_item{
        width: 100%;
    }
    .wrapper .header{
        font-size: 14px;
    }
}

.cards_wrap{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_wrap .card_item{
    padding: 15px 25px;
    width: 25%;
}

.cards_wrap .card_inner{
    background: #0f1626;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 200px;
    max-height: 370px;
    width: 100%;
}

.cards_wrap .card_item .time_ago{
    color: #b6c0c2;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0 10px;
}

.cards_wrap .card_item .author{
    font-size: 14px;
    line-height: 24px;
    color: #7b8ca0;
}
